.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 12px;
}

.searchInput {
  width: 100%;
  outline: none;
  padding: 10px 12px;
  font-size: 1.6rem;
  border: 1px solid var(--borderDefault);
  border-radius: 4px;
}
.searchInput:hover,
.searchInput:focus {
  border-color: var(--borderHover);
}

.dropdownContainer {
  display: flex;
  column-gap: 20px;
  margin-top: 8px;
}

@media only screen and (max-width: 425px) {
  .dropdownContainer {
    flex-direction: column;
    row-gap: 8px;
  }
}
