.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.searchInput {
  width: 100%;
  outline: none;
  padding: 8px 12px;
  font-size: 1.4rem;
  border: 1px solid var(--borderDefault);
}
.searchInput:hover,
.searchInput:focus {
  border-color: var(--borderHover);
}
