.container {
  opacity: 0;
  transition: transform ease-in-out 0.2s, opacity 0.1s linear;
  border: 1px solid var(--borderDefault);
}

.container:hover {
  transform: translateY(-3px);
}

.containerVisible {
  opacity: 1;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: opacityAnimation 0.2s;
}

.innerContainer img {
  width: 100%;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: center;
  padding: 12px 8px;
}

.artist {
  font-size: 1.6rem;
  font-weight: bold;
}

.titleContainer {
  font-size: 1.4rem;
  color: var(--textDefault);
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
